*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 0; 
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: url("../assets/imgs/bg.jpg");
    background-size: cover;    
}

#app{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
}
.player{
    width: 10vw;
    height: 10vw;
    border: 1px solid rgba(255,255,255,0.1);
    margin: 15px 0 0 15px;
    background: rgba(20,20,20,0.4);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px rgba(31, 173, 255, 0.137);
    cursor: pointer;
}

.player .cover{
    width: 100%;
    height: 100%;
}

.player .cover img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.player .controls{
    width: 100%;
    height: 100%;
    position: relative;
    top: -200%;
    border-radius: 15px;
    background: rgba(20,20,20,0.3);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.player .timeline{
    width: 0;
    height: 100%;
    position: relative;
    top: -100%;
    border-radius: 15px;
    background: rgba(142, 137, 5, 0.3);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.player .playBtn{
    width: 40%;
    height: 40%;
    border-radius: 50px;
    background: rgba(20,20,20,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.player .songTitle{
    color: white;
    padding: 15px 15px;
    margin-top: -20%;
    font-size: 1vw;
}

.player .playBtn span{
    color: white;
    font-size: 1.5vw;
    opacity: 0.8;
    margin-left: 8px;
}

.hiden{
    display: none !important;
}

.blurred{
    filter: blur(5px);
}